<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View a Job</title>
</head>
<body>
    <a href="{{request.META.HTTP_REFERER}}">Back</a>
    <a href="/logout">Logout</a>
    <div>
    {% for trip_detail in trip %}
        <h2>{{ trip_detail.destination }}</h2>
        {% for user in users %}
            {% if trip_detail.user_id_id == user.id %}
                <p>Planned By: {{ user.first_name }}</p>
            {%endif%}
        {%endfor%}    
        <p>Description: {{ trip_detail.description }}</p>
        <p>Travel Date From: {{ trip_detail.travel_date_from }}</p>
        <p>Travel Date To: {{ trip_detail.travel_date_to }}</p>
    {%endfor%}
    </div>
    <div>
        <h2>Other Users Joining the Trip:</h2>
        {% for user_group in group %}
            {% for user in users %}
                {% if user_group.user_id_id == user.id %}
                    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                {%endif%}
            {%endfor%}
        {%endfor%}
    </div>









    
</body>
</html>

